# Data (IVF Data)
data/raw/
data/processed/
*.csv
*.xlsx

# R
.Rhistory
.RData
.Rproj.user/

# Python
__pycache__/
*.pyc

# Jupyter Notebooks
.ipynb_checkpoints/

# models
*.pkl
*.h5

# macOS system files
.DS_Store
processing_scripts/model_encode_X.R
processing_scripts/Create_modelling_datasets.R
